

body {
    overflow: hidden;
}

.container {
    grid-template-columns: 55% 45%;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas: 
    "nav    aside"
    "main   aside"
    "footer aside";
}

.navbar {
    height: 80px;
 
}

    .navbar__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left:80px;
        position:static;


    }
    .navbar__content .icon {
        font-size: 40px;

    }
    .icon__bars {
        display: none;
    }
    .navbar__content ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        font-family: var(--font-text);
        font-weight: 400;
        font-size: 24px;
        width: 450px;
    }



.aside__content {
    position: relative;
    height: 100vh;

}
    .aside__content .background__aside {
        position: absolute;
        background-color: var(--background-dark);
        height: 100%;
        width: 50%;
        right: 0;
        z-index: -1;
    }
    
    .aside__content img {
        position: absolute;
        top: 95px;
        right: 0x;
        left: 140px;
        bottom: 0;
        z-index: 10;
    }
    .aside__content .text__one {
        font-size: 42px;
        top: 20px;
        left: 30px;
    }
    .aside__content .text__two {
        font-size: 52px;
        top: 60px;
        left: 30px;

    }
    .aside__content .text__three {
        font-size: 96px;
        top: 190px;
        right: 0;

    }
    
    .main__content {
        padding-top: 80px;
        padding-left:80px;
    
    }
    .main__content h1 {
        font-size: 48px;

    }

    .main__content p {
        font-size: 24px;
        width: 80%;
    }
    .parragraph__spacing {
        margin-bottom: 10px;
    }



.footer__content {
    border-radius: 0 100px 0 0;
    width: 100%;
    height: 100%;  
    
}
.position__img {
    position: relative;
    width: 158px;
    height: 158px;
}
.plates {
    width: 100%;
    height: 100%;

}

    .kiwi {
        bottom: 20px;
    }
    .pear {
        bottom: 60px;
       
    }
    .pineapple {
        bottom: 100px;
        right: 15px;
    }


